*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: 	#EaE7DF;
}
.navegar{
    border-radius: 1px;
    border: 3px solid black;
    height: 98dvh;
    background-image: url("https://wallpapers.com/images/featured/plant-pictures-9qi3g6bc9ld8q9t3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.navegar h1{
    font-size: 40px;
    margin-bottom: 20px;
    border-radius: 1px;
}
#titulo_principal{
    align-items: center;
    
}
.logo{
    font-weight: bold;
    color: #2e7d32;
    font-size: 20px;
}
.menu{
    background-color: #dcd8cf;
    padding: 15px 40px;
    grid-column: auto;
    border-color: black;
    border-radius: 4px;
}
.opciones{
    display: flex;
    justify-content: space-between;
}
.opciones a{
    text-decoration: none;
    margin-right: 20px;
    color: #333;
    font-weight: bold;
}
.opciones a:hover{
    color: #63a065;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-delay: 1s;
}
#explorar{
    padding: 10px 25px;
    border: none;
    background: #2e7d32;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms 500ms;
    transition-delay: 500ms;
}
#explorar:hover{
    background: #1b5e20;
}

